---
import Layout from "../layouts/Layout.astro"
import Star from "../images/vstar.svg"
import User from "../images/3user (1).svg"
import Location from "../images/vlocation.svg"
import Calander from "../images/vcalendar.svg"



---

<Layout title="About Us | Intellisoft">
    <div class="h-[90vh] flex items-center bg-[url('https://spectraforce.com/wp-content/uploads/2019/09/about1.jpg')] bg-no-repeat bg-cover bg-[center_right_-18rem] md:bg-center">
        <div class="mx-4 bg-[#0005] md:bg-[#0000] px-10 py-16 self-end mb-4">
            <h2 class="text-4xl lg:text-5xl font-bold text-white md:text-[#99999b] mb-1">DON'T BLAME <br> MONDAY(S).</h2>
            <div class="w-40 h-1 Leverage enterprise applications developed on Microsoft, Salesforce, SAP, and emerging technologies to boost time-to-market and productivity. mb-10"></div>
            <h4 class="text-2xl lg:text-3xl font-semibold text-white md:text-[#99999b] mb-6">YOU'RE IN THE WRONG JOB.</h4>
            <p class="text-2xl lg:text-3xl font-semibold text-white md:text-[#99999b]">DID YOU KNOW THAT, ONLY 13% OF <br> PEOPLE ARE SATISFIED AT WORK?</p>
        </div>
    </div>

    <div class="relative min-h-[80vh] gap-[4vh] flex flex-col items-center md:flex-row bg-[#000c] bg-[url('/src/images/about_section.png')] bg-blend-darken bg-no-repeat bg-cover bg-[center_right_-18rem] md:bg-center">
        <!-- <div class="bg-[#000] absolute inset-0"></div> -->
        <div class="px-8 sm:px-20 flex-1 md:self-start">
            <h4 class="font-semibold text-xl lg:text-3xl tracking-wider text-[#e0aa3a] mt-16 mb-4">WHO WE ARE</h4>
            <p class="text-[#f2f2f2] font-thin text-lg lg:text-xl xl:text-2xl">A leading innovator in the feild of cutting edge Technologies. Our goals and aims are highly compatible with advancements theat directly improve people's lives.</p>
        </div>
        <div class="grid grid-cols-2 flex-1 gap-5 p-8">
            <div class="bg-[#fff6] rounded px-8 py-5 md:py-8 text-center flex-col flex gap-3 sm:gap-5">
                <img class="h-8 md:h-10" src={Calander} alt="">
                <p class="text-black md:text-xl font-semibold">25+ Years</p>
                <p class="text-[#e0aa3a] text-sm">Years Of S    uccess</p>
            </div>
            <div class="bg-[#fff6] rounded px-8 py-5 md:py-8 text-center flex-col flex gap-3 sm:gap-5">
                <img class="h-8 md:h-10" src={Location} alt="">
                <p class="text-black md:text-xl font-semibold">10 Cities</p>
                <p class="text-[#e0aa3a] text-sm">Global Presence</p>
            </div>
            <div class="bg-[#fff6] rounded px-8 py-5 md:py-8 text-center flex-col flex gap-3 sm:gap-5">
                <img class="h-8 md:h-10" src={User} alt="">
                <p class="text-black md:text-xl font-semibold">1500+</p>
                <p class="text-[#e0aa3a] text-sm">Professionals</p>
            </div>
            <div class="bg-[#fff6] rounded px-8 py-5 md:py-8 text-center flex-col flex gap-3 sm:gap-5">
                <img class="h-8 md:h-10" src={Star} alt="">
                <p class="text-black md:text-xl font-semibold">250+</p>
                <p class="text-[#e0aa3a] text-sm">Global Clients</p>
            </div>
        </div>
    </div>
    <div class="min-h-[60vh] bg-gradient-to-br from-[#f6d839] to-[#e0aa3a] text-center justify-center flex flex-col px-12 md:px-[24vw] py-16">
        <h4 class="text-2xl text-white font-bold mb-4">IT’S TIME FOR A REVOLUTION. <br class="hidden md:block">
            GO BACK TO THE PLACE WHERE EVERY DAY <br class="hidden md:block"> AT WORK IS LIKE YOUR FIRST DAY.</h4>
            <p class="text-lg font-semibold text-[#444a] mb-6">Whether you’re in engineering, financial, IT, research, or one of dozens more — we specialize in helping companies and candidates find their perfect match.</p>
            <p class="text-xl font-semibold text-[#f2f2f2]">BECAUSE THE RIGHT JOB SHOULDN’T FEEL LIKE WORK.</p>
    </div>
</Layout>